
<div class="border p-3 mt-4">
    <div class="row pb-2">
            <h2 class="text-primary">Zadanie 2</h2>
            <h5 class="text-primary">Przykładowy tekst z pliku "C:\Test\test_WOJ_MIE.txt"</h5>
            @ViewBag.Name
            
            <hr />
    </div>
    <div class="text-primary">
        <h5>Litera "a" występuje w tekście <bdi class="text-danger">@ViewBag.Liczba</bdi> razy.</h5>
    </div>
    <br /><br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Powrót
        </a>
</div>

